@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    font-family: 'Play', sans-serif;
}

html, body {
    font-size: 10px;
    width: 100%;
    height: 100%;
    text-align: center; /* Alinhamento do texto */
    margin: 0%;
    /* O tamanho da fonte raiz é 16px */
}

p {
    text-align: center;
}

/* .container {
    background-image: url("logo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

table {
    margin-left: auto;
    margin-right: auto;
}

.test {
    text-align: right;
    display: inline-block; /* colocar uma div ao lado da outra */
    align-items: center;
    justify-content: center;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.simuleTest {
    text-align: right;
    /* display: table-cell; */
    display: inline-block; /* colocar uma div ao lado da outra */
    align-items: center;
    justify-content: center;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.lapsData {
    text-align: right;
    /* display: table-cell; */
    display: inline-block; /* colocar uma div ao lado da outra */
    align-items: center;
    justify-content: center;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    -webkit-text-stroke-width: 0.8px; /* Borda da letra */
    -webkit-text-stroke-color: black; /* Cor da borda da letra */
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 0;
    -webkit-text-stroke-width: 0.8px; /* Borda da letra */
    -webkit-text-stroke-color: black; /* Cor da borda da letra */
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0;
    -webkit-text-stroke-width: 0.8px; /* Borda da letra */
    -webkit-text-stroke-color: black; /* Cor da borda da letra */
}


h2, caption {
    font-size: 2rem;
    margin-top: 0;
    color: red;
    -webkit-text-stroke-width: 0.1px; /* Borda da letra */
    -webkit-text-stroke-color: black; /* Cor da borda da letra */
    text-align: center; /* Alinhamento do texto */
}

p, label, input, select, input[type=button], [type=time], th, td {
    color: white;
    -webkit-text-stroke-width: 0.8px; /* Borda da letra */
    -webkit-text-stroke-color: black; /* Cor da borda da letra */
    text-align: center; /* Alinhamento do texto */
}

label {
    font-size: 1rem;
}

input {
    font-size: 1rem;
    width:100px;
    height:15px;
}

select{
    font-size: 1rem;
    width:158px;
    height:21px;
}

input[type=button]{
    font-size: 1rem;
    width:130px;
    height:25px;
}

input[type=time]{
    font-size: 1rem;
    width:103px;
    height:18px;
    text-align: center;
}






/* Logo */

.logo {
    width: 190px;
    height: 85px;
    object-fit: cover;
    object-position: center;
}


/* seletor universal tem valor de 0
seletor de elemento tem força 1
seletor de classe e atributo tem força 10
seletor de id selector tem força 100
inline tem força 1000 */

/* * {

} */

/* Header */

header {   
    position: sticky; /* Deixa o menu preso durante a barra de rolagem */  
    top: 0;
    background-color: rgb(255,255,255);
    padding: 2px 0; 
    border-bottom: 1px solid black;
}

/* Menu */


.element { /* Controle somente do li inicial onde ficam os elementos */ 
    display: block;
    float: left;
}

.dropdown ul{ /* Primeira Lista */  
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
    border-top: 1px solid black;
    
}

/* .dropdown ul{
    background-color: black;
} */

.dropdown ul li{ /* Elementos da Lista */
    display: inline;
    position: relative;

}

.dropdown ul li a{
    color: black;
    text-decoration: none;
    padding: 10px;

}

.dropdown ul li a:hover{
    background-color: red;
}

/* sub-menu */

.dropdown ul ul{ /* Sub Lista */
    display: none;
    left: 0;
    position: absolute;
    background-color: rgb(255,255,255);
    padding: 0;
    margin-top: 10px; /* Para aquilibrar o padding top e não chocar as cores */

}

.dropdown ul li:hover ul{
    display: block; /* Deixar o elemento da lista em formato de bloco */
}

.dropdown ul ul{ /* Largura do item do submenu */
    width: 250px; 
}

.dropdown ul ul li a{
    display: block; /* Deixar o elemento da lista em formato de bloco */

}

/* Baseboard */

.baseboard { 
    color: white;
    padding: 10px;
    -webkit-text-stroke-color: black; /* Cor da borda da letra */
    text-align: left; /* Alinhamento do texto */
    border-top: 1px solid black;
    background-color: rgb(0,0,0, 0.04);
    /* position: absolute;
    height: 40px;
    width: 100%; */
}